/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: 'outagecut';
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
a {
  text-decoration: none; }

a:visited {
  color: #3f3d3d; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=229f654c-f062-4aa1-9cd0-067c8b3f856d");
@font-face{
font-family:"Avenir Next LT W01 Demi";
    src:url("Fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
    src:url("Fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),
        url("Fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),
        url("Fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),
        url("Fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}
@font-face {
    font-family: 'outagecut';
    src: url('outage_cut-webfont.eot');
    src: url('outage_cut-webfont.eot?#iefix') format('embedded-opentype'),
         url('outage_cut-webfont.woff') format('woff'),
         url('outage_cut-webfont.ttf') format('truetype'),
         url('outage_cut-webfont.svg#outagecut') format('svg');
    font-weight: normal;
    font-style: normal;

}
abbr[title] {
  border-bottom: 1px dotted; 
  }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: 'outagecut';
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: htypography5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3, .event .time, .event .place, .team-stat .name {
    orphans: 3;
    widows: 3; }

  h2, h3, .event .time, .event .place, .team-stat .name {
    page-break-after: avoid; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 100%/1.5 "'Helvetica Neue', Helvetica, Arial, sans-serif";
  background: #fff; }
  .lt-ie9 body {
    min-width: 960px; }

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-height: 81px; }
  .lt-ie9 .wrapper {
    width: 960px; }

/* HEADER & LOGO */
header {
  width: 100%;
  text-align: center;
   background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHklEQVQIW2NkAILHjx//l5WVZQTRYALGAdGMBFUAAB9+H1XArZk6AAAAAElFTkSuQmCC) 
   repeat;
   border-bottom: #8A8A8A solid 1px;
  }
  header img {
    max-width: 300px;
    margin: 0 auto; }
  header .logo {
    display: inline;
    margin-right: 2em;
    min-width: 5.5em;
    min-height: 5.5em; }
.upperhead {
  height: 100px;
}
/* NAV */
nav {
  display: none; }

/* MAIN */
.main {
  background-color: black;
  float: left;
  width: 100%;
  padding-bottom: 2em;
  font-size: 1em; 
  }

/* TYPOGRAPHY */
.typography {
  float: left;
  border-top: 5px solid #A0CA38;
  background-color: #8A8A8A;
  padding: 50px 9% 5%; }
  .lt-ie8 .typography {
    padding: 50px 0; }

/* PRIMARY HEADING */
h1 {
  margin: 0 0 0.3em 0;
  font-family: 'outagecut';
  font-size: 2em;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: #3f3d3d; }

h2 {
  font-family: 'outagecut';
  text-align: center;
  color: #3f3d3d;
  line-height: 1em;
  margin-top: 0px; }

h3, .event .time, .event .place, .team-stat .name {
  font-family: 'outagecut';
  font-size: .75em;
  letter-spacing: .3em;
  color: black;
  margin-top: 0px; }

h4 {
  font-family: 'outagecut';
  font-size: .8em;
  font-weight: 500;
  color: #3f3d3d; }

/* PARAGRAPH */
p {
  font-family: 'outagecut';
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1em; }

/* SWATCHES */
.swatches {
  background-color: #E8E8E8;
  float: left;
  width: 100%;
  padding: 5%;
  margin: 0 auto; }

/* COLORS */
.colors {
  text-align: center;
  padding-bottom: 3%;
  width: 100%; }
  .colors ul {
    padding: 0;
    margin: auto; }
  .colors li {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    list-style-type: none;
    float: left;
    width: 23%;
    padding-bottom: 18%;
    margin: 1%;
    background-color: #222; }
  .colors .primary {
    background-color: #A0CA38; }
  .colors .secondary {
    background-color: #8A8A8A; }
  .colors .secondary1 {
    background-color: #231F20; }
  .colors .secondary3 {
    background-color: #3f3d3d; }

/* BUTTON */
.button {
  margin: 55px;
  margin-bottom: 48px;
  margin-top: -28px;
  height: 12px;
  text-align: center;
   }
  .button li {
  margin-right: auto;
    list-style: none;
    text-align: center; }
  .button a {
  margin-right: auto;
    list-style: none;
    background-color: #8A8A8A;
    padding: 10px 20px 12px;
    text-align: center;
    font-family: 'outagecut';
    font-weight: 900;
    letter-spacing: .1em; }
  .button a:hover {
    background-color: #231F20; }
  .button img {
    width: 36px;
    padding-right: 10px;
    padding-bottom: 2px; }

/* EVENT */
.event {
  width: 100%;
  min-height: 400px;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #3f3d3d;
  float: left;
   }
  
   .event .meeting{
    margin: 0 auto;
    margin-top: -60px;
    width: 50%;
    min-width: 300px;
    min-height: 300px;
    max-width: 450px;
    border: 5px solid white;
   }
   .event .meeting h1{
    margin-top: 15%;
   }
   .event .meeting h1, h2, h3{
    color: white;
    text-align: center;
   }
  .event header {
    float: left; }
  .event header p {
    background-color: #A0CA38;
    color: #3f3d3d;
    font-family: 'outagecut';
    text-transform: uppercase;
    letter-spacing: .3em;
    text-align: center; }
  .event img {
    background-color: none;
    margin-top: -16px;
    display: block;
    margin: 0 auto; }
  .event a {
    text-transform: uppercase;
    font-family: 'outagecut';
    font-size: 1.5em;
    letter-spacing: .3em;
    list-style: none;
    color: #3f3d3d;
    text-decoration: none;
    text-align: center;
    margin: 3em 1em 1em 1em;
    display: block; }
  .event .time, .event .place {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2.5em;
    display: block; }
footer{
  background-color: black;
}
/* DEVICE */
.device {
  border-top: 5px solid #8A8A8A;
  width: 100%;
  background-color: #A0CA38;
  float: left;
  padding: 1%; }
  .device .follow{
    color: black;
  }
  .device img {
    float: right; }
  .device h3 {
    text-align: center;
  }
  .device h4 {
    text-align: right;
    margin: 0 0 6% 0; }
  .lt-ie8 .device {
    padding: 0; }

@media (min-width: 700px) {
  h4 {
    font-size: 1em; }

  .main .wrapper {
    position: relative; }

  .typography {
    border-top: 5px solid #A0CA38;
    width: 100%; 
    }

  .typography p {
    max-width: 650px;
    margin: 0 auto; }

  .swatches {
    background-color: #E8E8E8;
    float: left;
    width: 100%;
    padding: 7% 5% 5% 5%;
    margin: 0 auto; }
    .lt-ie9 .swatches {
      padding: 7% 0; }

  .colors {
    padding-bottom: 0%; }

  .colors li {
    width: 22%;
    height: 1em;
    padding-bottom: 15%; }

  .event {
    height: 450px; }
    .lt-ie8 .event {
      padding: 0 0 4%; }

  .event h3, .event .time, .event .place, .event .team-stat .name, .team-stat .event .name {
    margin-top: 4.5em; }

/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
