/* FONTS */
@font-face {
    font-family: 'outagecut';
    src: url('Fonts/outage_cut-webfont.eot');
    src: url('Fonts/outage_cut-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/outage_cut-webfont.woff') format('woff'),
         url('Fonts/outage_cut-webfont.ttf') format('truetype'),
         url('Fonts/outage_cut-webfont.svg#outagecut') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=229f654c-f062-4aa1-9cd0-067c8b3f856d");
@font-face{
font-family:"Avenir Next LT W01 Demi";
src:url("Fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
src:url("Fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("Fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("Fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("Fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}
/* BODY */
body{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIW2NkAIJnz579B9FSUlKMjCAOiAGTwBRA1wIAKCAXZxKmiW0AAAAASUVORK5CYII=) 
  repeat;
	margin:0;
	font-family:"Avenir Next LT W01 Demi";
}
/* HEADER */
header{
	margin-top: 5em;
	text-align: center;
  border-bottom: #7e9f2c solid 2px;
  font-size: .65em; 
}
header h3{
	font-family: 'outagecut';
	color: #bfbfbf;
	border-top: #bfbfbf solid 2px;
	border-bottom: #bfbfbf solid 2px;
}
#logo_info{
	background-color: white;
	padding: 14px 0;
	margin-top: -243;
	margin-bottom: 112;
	width: 100%;
}
#logo_info h3{
	padding-top: 15px;
	padding-bottom: 15px;
}

#text_left{
	margin-right: 16em;
	text-align: center;
	padding: 10px;
}

#text_left:before {
    content: '> ';
    color: #a3cd39;
}

#text_right{
	padding: 10px;
}
#text_right:after {
    content: '< ';
    margin-left: 6px;
    color: #a3cd39;
}

}
header h2{
	padding: 40px;
}
header img{
	position: relative;
	width: 16em;
}
.title{
	margin-bottom: 10em;
	margin-top: -2em;
}
/* INFO */
.info{
	background-color: #8a8a8a;
	padding:1em;
	text-align: center;
	border-top: #a3cd39 solid 8px;
	font-size: 1.5em;
}
.info p{
	padding-left: 2em;
	padding-right: 2em;
}
/* UPCOMING MEETINGS */
.upcoming_meetings{
	width:100%;
	margin:0 auto;
	text-align: center;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  background-color: #3f3d3d;
  float: left;
}

.upcoming_meetings h1 {
	font-size: 1em;
	font-weight: 100;
	padding-top: .5em;
	padding-bottom: 6em;
	text-transform: uppercase;
}

.upcoming_meetings h1:before{
	content: '\00a0';
	background-color: white;
	display: inline-block;
	width: 35%;
	height: 1px;
	vertical-align: middle;
	margin-right: 20px;

}
.upcoming_meetings h1:after{
	content: '\00a0';
	background-color: white;
	display: inline-block;
	width: 35%;
	height: 1px;
	vertical-align: middle;
	margin-left: 20px;
}
.upcoming_meetings h2{
	font-family: 'outagecut';
	letter-spacing: 0.15em;
}

#date_little h2{
	margin-top: -4.5em;
	color: #98c035;
}
#date_spark h2{
	margin-top: -4.5em;	
	color: #98c035;
}
.upcoming_meetings {
	color: white;
}

.upcoming_meetings section{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: white solid 5px;
	float:left;
	width:19em;
}

.wrap{
	display: inline-block;
}
.location_note{
	clear:left;
}

/* PAST MEETINGS */
.past_meetings{
	font-family: 'outagecut';
	text-align: center;
	padding-bottom: 1em;
	color: #555555;
	border-top: #555555 solid 2px;
}
.past_meetings section{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: #555555 solid 5px;
	float:left;
	width:19em;
}
.past_meetings h1 {
	font-family:"Avenir Next LT W01 Demi";
	font-size: 1em;
	font-weight: 100;
	padding-top: .5em;
	margin-top: 35em;
	text-transform: uppercase;
}

.past_meetings h1:before{
	content: '\00a0';
	background-color: #555555;
	display: inline-block;
	width: 35%;
	height: 1px;
	vertical-align: middle;
	margin-right: 20px;

}
.past_meetings h1:after{
	content: '\00a0';
	background-color: #555555;
	display: inline-block;
	width: 35%;
	height: 1px;
	vertical-align: middle;
	margin-left: 20px;
}

.past_meetings h3{
	font-size: 1em;
}
.past_meetings h2{
	font-size: 1.2em;
}
.past_meetings h3:before{
	content: '\00a0';
	background-color: #a3cd39;
	display: inline-block;
	width: 18px;
	height: 3px;
	vertical-align: middle;
	margin-right: 6px;

}
.past_meetings h3:after{
	content: '\00a0';
	background-color: #a3cd39;
	display: inline-block;
	width: 18px;
	height: 3px;
	vertical-align: middle;
	margin-left: 6px;
}
/* SOCIAL */
.social{
	background-color: #a3cd39;
	text-align: center;
	padding-left: 4em;
	border-top: #7e9f2c solid 2px;
}

.social img{
	float: right;
}

#social_text{
	color:white;
}

/* FOOTER */

footer{
	padding:1em;
	background-color: black;
}

footer p{
	color: #4c4c4c;
	font-size: .70em;
	text-transform: uppercase;
}

/* BUTTON */
.upcoming_meetings .button {
  margin: 55px;
  margin-bottom: 3em;
  margin-top: 2em;
  height: 12px;
  text-align: center;
   }
  .button li {
  margin-right: auto;
    list-style: none;
    text-align: center; }
  .button a {
  	color: #3f3d3d;
  	margin-right: auto;
    list-style: none;
    background-color: #8A8A8A;
    padding: 5px 14px;
    text-align: center;
    text-decoration: none;
    font-family:"Avenir Next LT W01 Demi";
    letter-spacing: .1em; }
  .button a:hover {
    background-color: #231F20; }
  .button img {
    margin-top: 3px;
		margin-left: 9px;
		position: absolute;}
 .past_meetings .button{
 	margin-bottom: 1em;
 }
 .past_meetings .button a{
 		padding: 6px 8px 6px 30px;
 		background-color: white;
 		color: #555555;
 		font-family:"Avenir Next LT W01 Demi";
 }
 	.button a:hover {
    background-color: #231F20; }

/* BROWSER FIXES */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

