header{
	margin-top: 5em;
	text-align: center;
  font-size: .65em; 
	.logo{
		font-family: "outagecut";
		color: #bfbfbf;
		margin-top: 2em;
		margin-bottom: 3em;
		background-color: white;
		padding: 1.5em;
		font-size: 1.2em;
	}
	.text_left{
		margin-right: 1em;
	}
	.text_right{
		display: block;
		margin-top: 2em;
	}
	.info{
		padding: 1em 3em;
		background-color: $lgray;
		border-top: $green solid 8px;
		p{
			display: inline-block;
			font-size: 2em;
			max-width: 27em;
		}
	}
	h2{
		padding: 40px;
	}
	img{
		position: relative;
		width: 14em;
	}
	.title{
		margin-top: -2em;
	}
}

.text_left:before {
    content: '> ';
    color: $green;
}
.text_right:after {
    content: '< ';
    margin-left: 6px;
    color: $green;
}
@media(min-width: 605px){
	header{
		b{
			border-top: $llgray solid 2px;
			border-bottom: $llgray solid 2px;
			padding: 1.5em 0em 1.5em 0em;
		}
		.text_left{
			margin-right: 0em;
		}
		.text_right{
			margin-top: 0em;
			display: inline;
		}
		.title{
			margin-top: -2em;
		}
		.logo{
			margin-top: 2em;
			padding: 3em 2em;
		}
	}
}
@media(min-width: 900px){
	header{
		b{
			border-top: $llgray solid 2px;
			border-bottom: $llgray solid 2px;
			padding: 1.5em;
		}
		.logo{
			margin-top: -11em;
			margin-bottom: 8em;
		}
		.text_left{
			margin-right: 16em;
		}
		.text_right{
			margin-top: 0em;
			margin-right: -0.5em;
		}
		h2{
			padding: 40px;
		}
		img{
			width: 16em;
		}
		.title{
			margin-bottom: 10em;
			margin-top: -2em;
		}
	}
}