/* SOCIAL */
.social{
	color: white;
	background-color: $green;
	text-align: center;
	padding-bottom: 1em;
	border-top: #7e9f2c solid 2px;
	.social_text{
		color:black;
		display: inline-block;
	}
	p{
		padding: 0 12%;
	}
}
.tweets{
	h1{
		font-size: 1em;
	}
	background-color: #7e9f2c;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	ul{
		padding-right: 3.5%;
		padding-left: 3.5%;
		li{
			display: inline-block;
			margin: 1em 1em;
			padding: 0em 1em;
			max-width: 20em;
			width: 75%;
		}
	}
}
.icon-twitter:before, .icon-github:after {
	font-family: 'Social-icons';
	speak: none;
	font-size: 4em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: black;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before{
	content: "\e000";
}
.icon-github:after{
	content: "\e001";
}

@media(min-width: 880px){
	.social{
		.icon-twitter:before {
			position: absolute;
			margin-left: 3.8em;
			margin-top: -0.9em;
		}
		.icon-github:after {
			position: absolute;
			margin-left: 5.05em;
			margin-top: -0.9em;
		}
		p{
			display: inline-block;
			max-width: 38em;
			margin-left: -12em;
		}
	}
}