/* SOCIAL */
.social{
	color: white;
	background-color: $green;
	text-align: center;
	padding: 2.5em 0 6em 0;
	border-top: #7e9f2c solid 2px;
	.social_text{
		color:black;
		display: inline-block;
	}
	.icons{
		margin: 0 auto;
	}
	p{
		padding:0 15%;
	}
}
#tweets{
	display: none;
	h1{
		font-size: 1em;
	}
	background-color: #7e9f2c;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	ul{
		padding-right: 3.5%;
		padding-left: 3.5%;
		li{
			display: inline-block;
			padding: 0em 1em;
			max-width: 20em;
			width: 75%;
			vertical-align: top;
		}
	}
	span{
		font-size: 0.85em;
		font-style: italic;
	}
}
.icon-twitter:before, .icon-github:after {
	font-family: 'Social-icons';
	speak: none;
	font-size: 4em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: black;
	position: absolute;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before{
	content: "\e000";
}
.icon-github:after{
	content: "\e001";
}
.icon-github{
	padding-right: 9em;
}
.icon-twitter{
	padding-left: 1em;
}

.icon-twitter:hover{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
.icon-github:hover{
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}
@include mq(895px){
	.social{
		padding:2.5em 0;
		.icons{
			max-width: 51em;
			margin: 0 auto;
		}
		p{
			float: left;
			max-width: 38em;
			padding: 0
		}
	}
}