/* UPCOMING MEETINGS */
.upcoming_meetings{
	width:100%;
	margin-bottom: 1em;
	text-align: center;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  background-color: $ddgray;
  float: left;
  color: white;
	article{
		border: white solid 5px;
		display: inline-block;
		margin: 2em 1em 7em 1em;
		padding-top: 2em;
		padding-bottom: 1em;
		width: 60%;
		min-width: 19.5em;
	}
	.little_lines{
		margin-bottom: 2em;
	}
	.time{
		margin-top: -8em;		
		time{
			color: $green;
			font-family:$font2;
			font-size: 1.5em;
			letter-spacing: .2em;
		}
	}
	h1 {
		font-size: 1em;
		font-weight: 100;
		padding-top: .5em;
		padding-bottom: 6em;
		text-transform: uppercase;
	}
	h2{
		font-family:$font2;
		letter-spacing: 0.15em;
	}
	p{
		padding-right: 10%;
		padding-left: 10%;
	}
	section{
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 25px;
		margin-bottom: 25px;
		border: white solid 5px;
		float:left;
		width:19em;
	}
	.button {
  	margin-bottom: 3em;
 	 	margin-top: 2em;
 	 	height: 12px;
 	 	a:hover {
      background-color: #231F20; 
      -moz-transition: background-color .25s, -moz-transform .25s;
      -webkit-transition: background-color .25s, -webkit-transform .25s;
      -o-transition: background-color .25s, -o-transform .25s;
      transition: background-color .25s, transform .25s;
    }
	}
	.address{
		font-size: 1.3em;
	}
	.wrap{
		display: inline-block;
	}
}
.block{
	background-color: #a3cd39;
	width: 5em;
	padding: 1.25em;
	color: black;
	font-size: 1em;
	display: inline-block;
}
.arrow-down{
	border-left: 5.9em solid transparent;
	border-right: 5.7em solid transparent;
	border-top: 2.4em solid #a3cd39;
	margin-top: -1.25em;
	display: inline-block;
}
.location_note{
	clear:left;
}

@include mq(740px){
	.upcoming_meetings{
		article{
			width: 30%;
			max-width: 28em;
		}
		.sparkbox{
			margin-bottom: 3em;
		}
		h1{
			&:before{
				content: '\00a0';
				background-color: white;
				display: inline-block;
				width: 35%;
				height: 1px;
				vertical-align: middle;
				margin-right: 20px;
			}
			&:after{
				content: '\00a0';
				background-color: white;
				display: inline-block;
				width: 35%;
				height: 1px;
				vertical-align: middle;
				margin-left: 20px;
			}
		}
	}
}
